/* Regular Font */
@font-face {
  font-family: 'NXo';
  src: url('NX-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold Font */
@font-face {
  font-family: 'NXo';
  src: url('NX-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Italic Font */
@font-face {
  font-family: 'NXo';
  src: url('NX-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Bold Italic Font */
@font-face {
  font-family: 'NXo';
  src: url('NX-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}